@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-family: sans-serif;
  color: grey;
  margin-bottom: 1rem;
}

h1 {
  font-family: "Dancing Script", cursive;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.a-btn {
  background-color: #4a70a9;
  color: #fff;
  padding: 0.8rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-shadow: -2px 2px 0 #000;
}

.a-btn:hover {
  transition: 0.3s;
  padding: 0.8rem 2rem;
  box-shadow: -4px 4px 0 #000;
}

.container {
  padding: 4rem 10rem;
  text-align: center;
}

/* 1rem = 16px */
.level-2 {
  font-size: 2.5rem;
  color: #4a70a9;
  text-shadow: -2px 2px 0 #000000;
}
.level-3 {
  font-size: 1.8rem;
  color: #4a70a9;
  text-shadow: -1.2px 1.2px 0 #000000;
}
#about {
  background: #efece3;
}
#about:hover img {
  box-shadow: 0 0 4px grey;
  transition: 0.3s;
}

#about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#footer {
  color: #fff;
  background-color: #8fabd4;
}
#footer a {
  margin: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: -2px 2px 0 #000;
  text-decoration: none;
}
#footer p {
  color: #fff;
  margin-top: 1rem;
}

#footer a:hover i {
  transform: scale(1.2);
  transition: 0.3s;
}
