* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  height: 100px;
  width: 100px;
}

/* relative */
/* element moves from its orignal position, towards other direction */
/* remains part of document flow */

.b1 {
  background-color: thistle;
  position: relative;
  left: 300px;
  top: 200px;
}
.b2 {
  background-color: cadetblue;
  position: relative;
  left: 200px;
  top: 200px;
}
.b3 {
  background-color: skyblue;
  position: relative;
  bottom: 200px;
  left: 300px;
}
.b4 {
  position: relative;
  bottom: 200px;
  left: 200px;
  background-color: cornflowerblue;
}
