* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#parent {
  background-color: black;
  height: 500px;
  width: 500px;
  /* responsible for making .b2 move within the parent div */
  position: relative;
}

.box {
  height: 100px;
  width: 100px;
}

/* absolute (not fixed) */
/* element moves in relation to the view port (by default),
 but can be changed so that it moves in relation to parent (by giving the parent any position) */
/* doesn't remains part of document flow */

.b1 {
  background-color: thistle;
}
.b2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: cadetblue;
}
.b3 {
  background-color: skyblue;
}
.b4 {
  background-color: cornflowerblue;
}
