* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 16px;
  font-family: sans-serif;
  font-size: 18px;
}

#main {
  color: #fff;
  background: linear-gradient(coral, teal);

  /* padding : inner space */

  /* padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 150px; */

  /* t-r-b-l */
  /* padding: 50px; */

  /* t-b , l-r */
  /* padding: 50px 100px; */

  /* t , l-r , b */
  /* padding: 50px 75px 100px; */

  /* t , r, b, l */
  /* padding: 10px 20px 30px 40px; */

  padding: 64px 128px;

  /* margin : outer spacing */
  /* margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 64px; */

  /* t-r-b-l */
  /* margin: 50px; */

  /* t-b , l-r */
  /* margin: 50px 100px; */

  /* t , l-r , b */
  /* margin: 50px 75px 100px; */

  /* t , r, b, l */
  /* margin: 10px 20px 30px 40px; */
  margin: 50px;

  /* border */

  /* border-width: 10px;
  border-style: dotted;
  border-color: grey; */

  /* border: 10px dashed turquoise; */

  /* border-top: 10px dotted grey; */
  /* border-bottom: 10px double turquoise; */
  /* border: 10px dashed turquoise; */
  /* border: 10px dashed turquoise; */

  border: 2px solid #fff;
  border-radius: 30px;

  /* box-shadow : x , y , b , s , c */
  /* box-shadow: -10px -10px 10px 0 black; */

  box-shadow: 0 0 10px 0 black;

  /* backgrounds */

  /* single */

  /* background-color: ; */
  /* background: #cb202d; */

  /* multi color bg */

  /* background: linear-gradient(coral, teal); */
  /* background: linear-gradient(coral, teal, red); */
  /* background: linear-gradient(90deg, coral, teal); */
  /* background: linear-gradient(45deg, coral 50%, teal 50%); */

  /* background: url();
  background-image: url(); */

  /* background-image: url("https://t4.ftcdn.net/jpg/01/31/89/13/360_F_131891333_YtJeWozj269tpiWnwz4vBkCBe7h26qNU.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("https://t4.ftcdn.net/jpg/01/31/89/13/360_F_131891333_YtJeWozj269tpiWnwz4vBkCBe7h26qNU.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main a {
  background-color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  color: #333;
  padding: 12px 14px;
  border-radius: 5px;
  display: inline-block;
}
